<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fi.matiaskorhonen.alfred-bullet</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>603050AB-4727-4F86-A963-ABCEE1110DA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68EB454E-3E55-4D62-8D7A-03181082F648</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matias Korhonen</string>
	<key>description</key>
	<string>Send links or text to devices via PushBullet</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AlfredBullet</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>push</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading devices…</string>
				<key>script</key>
				<string>./alfred-bullet -action list {query}</string>
				<key>subtext</key>
				<string>Push to your devices</string>
				<key>title</key>
				<string>Pushbullet</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>603050AB-4727-4F86-A963-ABCEE1110DA2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./alfred-bullet -action push {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>68EB454E-3E55-4D62-8D7A-03181082F648</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>README_INSERTION</string>
	<key>uidata</key>
	<dict>
		<key>603050AB-4727-4F86-A963-ABCEE1110DA2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>68EB454E-3E55-4D62-8D7A-03181082F648</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/matiaskorhonen/alfred-bullet</string>
</dict>
</plist>
